.assets {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.image,
.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	outline: none;
}

.mb-2 {
	margin-bottom: 8px;
}

.mb-3 {
	margin-bottom: 12px;
}
