.assets {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.image,
.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	outline: none;
}

.mb-2 {
	margin-bottom: 8px;
}

.mb-3 {
	margin-bottom: 12px;
}

.carousel-container {
	lign-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	box-sizing: border-box;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	padding: 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2000;
	-webkit-align-items: center;
	-moz-box-sizing: border-box;
	-webkit-justify-content: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	-ms-flex-pack: center;
}

.carousel-image {
	width: 100%;
}

.splide--has-video,
.splide__slide--has-video,
.splide__list {
	width: 100% !important;
}

.hide-carousel {
	position: absolute;
	color: #fff;
	top: 10px;
	right: 10px;
	font-size: 20px;
	z-index: 10;
}
